header.site-header {
    position: fixed; top: 0; left: 0; right: 0; z-index: 999;
    box-shadow: 0px 2px 11px 0px rgba(0,0,0,.5);
    .topbar {
        @include flexbox(); justify-content: space-between; height: 60px;
        .actions .btn-header {
            margin-left: 15px;
            &:hover {
                color: $red;
            }
        }
    }
    .brand {
        width: 250px; //sidebar width;
        img {
            max-width: 100px;
        }
    }
    #appTitle {
        margin-left: 15px;
    }
    .titles {
        @include flexbox(); align-items: center;
        img { 
            margin: 0 15px;
        }
    }
    .actions {
        flex: 1;
        @include flexbox(); justify-content: flex-end;
        align-items: center;
    }
    #lastRelaod {
        margin: 0 15px;
        font-size: 13px;
        line-height: 16px;
        font-style: italic;
        border-left: 1px solid #767676;
        padding-left: 15px;
    }
}

#navigation {
    position: fixed; left: 0; top: 60px; bottom: 0; width: 60px; z-index: 999;
    box-shadow: 6px 5px 11px rgba(0, 0, 0, 0.3);
    // @include transform(translateX(-100%));
    @include transition(width .3s);
    > ul {
        @include transition(opacity .3s); opacity: .5;
        ul {
            @include transition(transform .3s, opacity .3s, max-height .75s);
            max-height: 0;
            transform: translateX(100%); opacity: 0; 
        }
    }
    .nav-links {
        li {
            margin: 0; padding: 0; overflow: hidden;
            .groupTitle {
                @include flexbox(); align-items: center;  padding-left: 15px;
                img.group-icon {
                    width: 30px; height: auto;
                }
                h3 {
                    padding-left: 15px;
                    color: $grey;
                }
            }
            
            &.active {
                a {  background-color: red;}
            }
            a {
                white-space: nowrap;
                display: block; padding: 0 0 0 30px;
                font-size: 16 px; line-height: 32px;
                @include transition(background-color .3s, color .3s);
                text-decoration: none;
                &:hover {
                    background-color: rgb(36, 36, 36);
                }
                &.isDisabled {
                    color: currentColor;
                    cursor: not-allowed;
                  }
            }
        }
    }
    &.slideIn {
        // @include transform(translateX(0));
        width: 250px;
        > ul {
            opacity: 1;
            ul {
                transform: translateX(0); opacity: 1;
                max-height: 600px;
            }
        }
    }
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    width: 30px; margin: 5px 15px; height: 26px;
    .bar {
        display: block;
        width: 20px;
        height: 3px;
        background-color: grey;
        margin: 5px auto;
        @include transition(transform .3s, width .3s, background-color .3s);
    }
      
    &.active :first-child{
        transform:
          rotate(45deg)
          translate(6px, 6px);
    }
    &.active :nth-child(2){width: 0;}
    &.active :last-child{
        transform:
          rotate(-45deg)
          translate(5px, -5px);
    }
    &:hover {
        .bar {
            background-color: black;
        }
    }
}

.lui-popover-container, .lui-dialog-container {
    position: fixed !important;
    z-index: 9999;
}