
html {
    font-size: 14px;
}
body {
    font-family: Arial, Helvetica, sans-serif !important; font-size: 15px;
    background-color: rgb(240, 240, 240);
    a {
        color: $blue; font-weight: 500;
        @include transition(color .3s);
        text-decoration: none;
        &:hover {
            text-decoration: none; 
        } 
    }
}

button, a {
    @include transition(background-color .3s, color .3s);
}

.btn {
    display: block; padding: 10px; border: 0;
}

.btn.focus, .btn:focus, .btn:hover {
    color: inherit; text-decoration: none;
}

.btn-primary {
    background-color: $blue; color: white; border: 0; box-shadow: none;
    .fa {
        margin-left: 10px;
    }
    &:hover, &:focus {
        border: 0;
        background-color: darken($blue,10%);
    }
}

.btn-clean {
    background-color: transparent; border: 0; box-shadow: none;
}

#viewWrap {
    @include transition(margin-left .3s);
    margin-left: 65px;
    padding-top: 120px;
    &.move {
        margin-left: 250px;
    }
}

ul {
    margin: 0;
    li {
        list-style: none;
    }
}

.margin-bottom {
    margin-bottom: 30px;
}

.panel {
    border: 0; margin-bottom: 30px; position: relative; border: 1px solid #f4f4f4;
    .panel-header {
        padding: 15px 15px 0;
        h3 {
            -webkit-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .chart-icons {
        position: absolute; top: 0; left: 0; right: 0;
        .btns-wrap {
            float: right;
        }
    }
}

.modal {
    .objectPlaceholder {
        height: 500px;
    }
}

.objectPlaceholder {
    width: 100%;
    @include transition(opacity 1s);
    @include opacity(1);
    article.qv-object {
        header.qv-object-header {
            display: none;
        }
    }
    &.animateOut {
        @include opacity(0);
    }

    &.full-height {
        height: 600px;
    }
}

.naked-kpi {
    color: black;
    .value {
        font-size: 24px;
    }
}

.simpleObject {
    width: 100%;
    height: 300px;
    &.kpiObject {
        height: 200px;
    }
    &.filterObject {
        height: 35px;
    }
}

.modal-lg {
    width: 90%;
}


.kpi-card {
    .main-kpi {
        height: 60px;
    }
    .mini-chart {
        height: 110px;
    }
}